.displayNone{
  display: none;
}

.displayVisiable{
  display: inline-block;
}

.freebirdFormeditorViewItemTrueButton{
  margin-top: auto;
  margin-bottom: auto;
  height: 30px;
  width: 30px;
  display: none;
  color: green;;
}

.freebirdFormeditorViewItemFalseButton{
  margin-top: auto;
  margin-bottom: auto;
  height: 30px;
  width: 30px;
  display: none;
  color: red;
}   